<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Creation</title>
</head>
<body>
<form th:action="${'/patients/create'}" method = "post" enctype="multipart/form-data">
<div>
    <label for="userName">Preferred UserName</label>
    <input type="text" id="userName" name="username" placeholder="userName" required>
</div>
<div>
    <label for="bloodGroup">BloodGroup</label>
    <select name="bloodGroup" id="bloodGroup" required>
        <option value="O+ve">O(Positive)</option>
        <option value="O-ve">O(Negative)</option>

        <option value="A+ve">A(Positive)</option>
        <option value="A-ve">A(Negative)</option>

        <option value="B+ve">B(Positive)</option>
        <option value="B-ve">B(Negative)</option>

        <option value="AB-ve">AB(Positive)</option>
        <option value="AB-ve">AB(Negative)</option>
    </select>
</div>
<div>
    <label for="weight">Weight</label>
    <input type="text" id="weight" name="weight" placeholder="weight" >
</div>
<div>
    <label for="height">Height</label>
    <input type="text" id="height" name="height" placeholder="height" >
</div>
<div>
    <label for="genotype">Genotype</label>
    <select name="genotype" id="genotype" required>
        <option value="AA">AA</option>
        <option value="AS">AS</option>
        <option value="SS">SS</option>
        <option value="AC">AC(Uncommon)</option>
    </select>
</div>
<div>
    <label for="workId">Work Identity No</label>
    <input type="text" id="workId" name="workId" placeholder="workId" required>
</div>

<div>
    <label for="firstName">FirstName</label>
    <input type="text" id="firstName" name="firstName" placeholder="firstName" required>
</div>
<div>
    <label for="lastName">LastName</label>
    <input type="text" id="lastName" name="lastName" placeholder="lastName" required>
</div>
<div>
    <label for="middleName">middleName</label>
    <input type="text" id="middleName" name="middleName" placeholder="middleName" >
</div>
<div>
    <label for="dateOfBirth">DateOfBirth</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" placeholder="dateOfBirth" required>
</div>
<div>
    <label for="homePhoneNo">HomePhoneNumber</label>
    <input type="text" id="homePhoneNo" name="homePhoneNo" placeholder="homePhoneNumber" >
</div>
<div>
    <label for="workPhoneNo">WorkPhoneNumber</label>
    <input type="text" id="workPhoneNo" name="workPhoneNo" placeholder="workPhoneNumber" >
</div>
<div>
    <label for="mobileNo">Mobile Number</label>
    <input type="text" id="mobileNo" name="mobileNo" placeholder="MobileNo" required>
</div>
<div>
    <label for="gender">Gender</label>
    <select name="gender" id="gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Would't Say">Would't Say</option>
    </select>
</div>
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="password" required>
</div>
<div>
    <label for="confirmPassword">ConfirmPassword</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirmPassword" required>
</div>



    <br>
    <br>
    <br>
    <br>
    <div>
        <label for="streetNumber">streetNumber</label>
        <input type="text" id="streetNumber" name="streetNumber" placeholder="streetNumber" required>
    </div>
    <div>
        <label for="city">City</label>
        <input type="text" id="city" name="city" placeholder="city" required>
    </div>
    <div>
        <label for="zipPostalCode">zipPostalCode</label>
        <input type="text" id="zipPostalCode" name="zipPostalCode" placeholder="zipPostalCode" required>
    </div>
    <div>
        <label for="stateProvinceCounty">State</label>
        <input type="text" id="stateProvinceCounty" name="stateProvinceCounty" placeholder="stateProvinceCountry" required>
    </div>
    <div>
        <label for="country">Country</label>
        <input type="text" id="country" name="country" placeholder="country" required>
    </div>
    <div>
        <label for="profilePictureURL">ProfilePicture</label>
        <input type="file" id="profilePictureURL" name="profilePictureURL" placeholder="profilePicture" >
    </div>
    <div>
        <input type="submit">
    </div>
</form>
</body>
</html>
